/* font added */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url("./images/banner/banner1.png");
    height: 808px;
    text-align: right;
}

nav {
    padding-top: 200px;
    padding-right: 100px;
}

header h1 {
    /* border: 2px solid black; */

    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

header p {
    /* border: 2px solid red; */

    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 32px;
    /* 162.5% */
}

.btn {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #F15B22;
    padding: 21px 25px 20px 26px;
    border: none;
}

/* failure section */

.my-failure-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    gap: 105px;
}



.point {
    display: flex;
    gap: 10px;
    padding-bottom: 8px;
}

.failure-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;
}

.failure-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 16px;
    /* 162.5% */
}

/* My plan section */
.my-plan-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.my-plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 55px;
}

.my-plan {
    text-align: center;
}