/* font added */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    background-image: url("./images/banner/banner1.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 808px;
    text-align: right;
}

nav {
    padding-top: 200px;
    padding-right: 100px;
}

header h1 {
    /* border: 2px solid black; */

    color: #151414;
    font-size: 65px;
    font-weight: 700;
}

header p {
    /* border: 2px solid red; */

    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-top: 24px;
    padding-bottom: 32px;
    /* 162.5% */
}

.btn {
    color: #FFF;
    text-align: right;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background-color: #F15B22;
    padding: 21px 25px 20px 26px;
    border: none;
}

/* failure section */

.my-failure-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    gap: 105px;
}



.point {
    display: flex;
    gap: 10px;
    padding-bottom: 8px;
}

.failure-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;
}

.failure-description {
    color: #444343;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 16px;
    /* 162.5% */
}

/* My plan section */
.my-plan-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.my-plan-title {
    color: #151414;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
    margin-top: 140px;
    margin-bottom: 55px;
}

.my-plan {
    text-align: center;
}

.plan-title {
    color: #151414;
    font-size: 30px;
    font-weight: 700;
    padding-top: 18px;
    padding-bottom: 16px;
}

.plan-description {
    color: #737272;
    font-size: 25px;
    font-weight: 500;
}

/* mindset container */

.mindset-container {
    /* background-image: url("./images/watch.png"); */
    background-repeat: no-repeat;
    background-position: center;
    margin-top: 140px;
    height: 300px;
    border-radius: 8px;
    width: 80%;
    margin: 130px auto;
    background-image: linear-gradient(90deg, #F15B22, rgba(241, 91, 34, 0.00)), url("./images/watch.png");
}

.mindset {
    padding-top: 59px;
    padding-left: 295px;
}

.mindset-title {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 24px;
}

.btn-2 {
    color: #F15B22;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    border-radius: 5px;
    background: #FFF;
    border: none;
    padding: 20px 35px;
}

/* footer section */
footer {
    background-color: #151414;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-title {
    color: #F8F8F8;
    font-size: 45px;
    font-weight: 700;
    padding-bottom: 16px;
}

.subscribe {
    color: #FFF;
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 31px;
}

.footer-description {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 24px;
    /* 162.5% */
}

.footer-email,
.footer-phone {
    color: #FFF;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 16px;
    /* 162.5% */
}

.input {
    margin-bottom: 16px;
    background-color: #151414;
    border: 1px solid white;
    color: #F3F3F3;
    font-size: 18px;
    font-weight: 400;
    border-radius: 5px;
    width: 325px;
    height: 64px;
    padding-left: 20px;
}